@model SchoolProject.Models.ShowTeacherModel

@{
    ViewBag.Title = "Show";
}

@*https://stackoverflow.com/questions/24763493/how-to-include-js-files-in-the-view-asp-net-mvc-4*@
@Scripts.Render("~/Scripts/Teacher/show-teacher.js")

<a id="deleteLink" href="/teachers/delete/@Model.Teacher.Id">Delete</a>

<h2>@Model.Teacher.Name</h2>
<p>Employee Number: @Model.Teacher.EmployeeNumber</p>
<p>Hire date: @Model.Teacher.HireDate.ToString("dd MMM yyyy")</p>
<p>Salary: @Model.Teacher.Salary</p>
<p>Classes: </p>
<ul>
    @foreach (var item in Model.Classes)
    {
        <li>
            <a href="/classes/show/@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>

